header {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 980px;
        margin: auto;
        color: white;
        padding: 20px;
    }
    h1 {
        font-size: 30pt;
    }
}

