.container-btn {
    display: flex;
    justify-content: space-between;
}
.btn {
    margin: auto;
    color: #ffffff;
    font-size: 14px;
    width: 120px;
    height: 40px;
    background-color: #f36f7c;
    align-items: center;
}
