body {
	background: #EFEFBB;
	background: linear-gradient(to bottom,#D41938, #DC0A2F);
	color: white;
	margin: 0;
	font-family: "Pokemon Solid";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
